# Ignore all files inside the aws/ folder
aws/*

# But don't ignore the folder itself
!aws/.gitkeep
# Ignore environment variables file with credentials
# .env

.ipynb_checkpoints/
__pycache__/

helpers_root/**/__pycache__/
helpers_root/**/*.pyc

*.pyc
logs.log

